<h1 style="color:white; font-family: Helvetica Neue; margin-left: 50px;">about</h1>


<p style="color:white; font-family: Helvetica Neue; width: 800px; margin-left: 50px;"> Words (and pictures) promises those two things. Covering a range of subjects from poptart penises to the end of the world, words (and pictures) is the perfect place to visit, then step back, and rethink how you spent your time. </p>


<div class="track_image">
   <%=image_tag ("rainbowgiggles.png"), :class=>"track_image",  :style => "max-height: 800px; width: 300px; float: right; margin-right: 500px; margin-top: 50px; margin-bottom: 50px;" %>
</div>